//Custom colors
$color-blue-town : #1b4b9b; //Bleu ville
$color-blue-cyan : #149cde; //Bleu Cyan
$color-blue-pastel: #dbe7f1; //Bleu pâle
$color-green : #108b49; //Vert citoyen
$color-orange : #d88a2b; //Orange touriste
$color-red : #de554e; //Rouge parking full