html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#header, #footer {
    height: 5%;
    height: 50px;
    display: block;
    clear: both;
}

#map-canvas {
	height: 100%;
    height: calc(100% - 50px);
    clear: both;
}

.controls {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 50px;
    border: 0;
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 100%;
    width: calc(100% - 50px);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.infoWindow {
	width: 325px;
	height: 150px;
}

.markerLabels {
    overflow: initial !important;
    text-align: center !important;
    width: 33px !important;
}
.available_parking, .unavailable_parking, .vehicule_park_low_occupancy, .vehicule_park_high_occupancy, .vehicule_park_full {
    margin-left: -26px !important;
    font-size: 16px;
}
.available_parking, .unavailable_parking {
    margin-top: -8px !important;
}
.vehicule_park_low_occupancy, .vehicule_park_high_occupancy, .vehicule_park_full {
    margin-top: -33px !important;
}

#toggleParkingsButton {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    border: 0;
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 50px;
    vertical-align: top;
    position: absolute;
    right: 0;
    background-color: #d3e3f0;
}
#toggleParkingsButton.paying {
    color: #1b4b9b;
}
#toggleParkingsButton.free {
    color: #8ba2c8;
}


#settings{
    height:80%;
    width:80%;
    margin:0 auto;
    background:white;
    color:black;
    padding:10px;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

#mask{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}

#settings:target, #settings:target + #mask{
    display:block;
    opacity:1;
}
.close{ /* close button */
    display:block;
    position:absolute;
    top:-20px;
    right:-20px;
    background:red;
    color:white;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}
#open-settings{ /* open the overlay */
    font-family: Roboto;
    padding: 2px 11px 5px 13px;
    font-size: 15px;
    font-weight: 300;
    background: white;
    color: gray;
    text-decoration:none;
    position: absolute;
    z-index: 100;
    right: 0;
}