html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#header, #footer {
    height: 5%;
    display: block;
}

#map-canvas {
	height: 90%;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    margin-left: 14px;
    width: 60%;
    max-width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.infoWindow {
	width: 325px;
	height: 150px;
}

#toggleParkingsButton {
	margin: 5px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 12px;
	font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

#settings{
    height:80%;
    width:80%;
    margin:0 auto;
    background:white;
    color:black;
    padding:10px;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

#mask{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}

#settings:target, #settings:target + #mask{
    display:block;
    opacity:1;
}
.close{ /* close button */
    display:block;
    position:absolute;
    top:-20px;
    right:-20px;
    background:red;
    color:white;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}
#open-settings{ /* open the overlay */
    font-family: Roboto;
    padding: 2px 11px 5px 13px;
    margin-right: 14px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 300;
    background: white;
    color: gray;
    text-decoration:none;
    display:inline-block;
}